<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://www.quattrofantastico.ba/travelguide/css/bootstrap.css" rel="stylesheet"/>
    <link href="http://www.quattrofantastico.ba/travelguide/css/gr.css" rel="stylesheet"/>
    <link href="http://www.quattrofantastico.ba/travelguide/css/styles.css" rel="stylesheet"/>
    <link href="http://www.quattrofantastico.ba/travelguide/css/font-awesome.css" rel="stylesheet"/>
</head>

<body>

<div class="container-fluid topBar">
    <a class="appNav col-xs-2"><span class="fa fa-navicon"></span></a>
    <a class="topTitle col-xs-10">Travel Guide</a>
</div>


    <div class="app container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card accomodationCard">
                    <div class="card-body">
                        <h3 class="card-title"><span class="fa fa-bed"></span> Accomodation</h3>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card WeatherCard">
                    <div class="card-body">
                        <h3 class="card-title"><span class="fa fa-sun-o"></span> Weather</h3>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card accomodationCard">
                    <div class="card-body">
                        <h3 class="card-title"><span class="fa fa-cutlery"></span> Places to Eat</h3>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card landmarksCard">
                    <div class="card-body">
                        <h3 class="card-title"><span class="fa fa-camera"></span> Landmarks</h3>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>